In [1]:
# import required packages
import pandas as pd
import numpy as np

In [2]:
# load negative or not clickbait dataset into dataframe
# no column present for class label
df_0 = pd.read_csv('../data/non_clickbait_data', on_bad_lines='skip', header=None)

# set column title
df_0.columns = ['headline']

# shape of dataset: (rows, columns)
print(df_0.shape)

# first 5 datapoints
df_0.head()

(12907, 1)

                                            headline
0  Bill Changing Credit Card Rules Is Sent to Oba...
1  1700 runners still unaccounted for in UK's Lak...
2  Yankees Pitchers Trade Fielding Drills for Put...
3  Large earthquake rattles Indonesia; Seventh in...
4  Coldplay's new album hits stores worldwide thi...

In [3]:
# add column for class label: not clickbait -> 0
df_0['clickbait'] = pd.Series(np.zeros(df_0.shape[0], dtype=int))

# first 5 datapoints with label
df_0.head()

                                            headline  clickbait
0  Bill Changing Credit Card Rules Is Sent to Oba...          0
1  1700 runners still unaccounted for in UK's Lak...          0
2  Yankees Pitchers Trade Fielding Drills for Put...          0
3  Large earthquake rattles Indonesia; Seventh in...          0
4  Coldplay's new album hits stores worldwide thi...          0

In [4]:
# load positive or clickbait dataset into dataframe
# no column present for class label
df_1 = pd.read_csv('../data/clickbait_data', on_bad_lines='skip', header=None)

# set column title
df_1.columns = ['headline']

# shape of dataset: (rows, columns)
print(df_1.shape)

# first 5 datapoints
df_1.head()

(15303, 1)

                                            headline
0                                 Should I Get Bings
1      Which TV Female Friend Group Do You Belong In
2  The New "Star Wars: The Force Awakens" Trailer...
3  This Vine Of New York On "Celebrity Big Brothe...
4  A Couple Did A Stunning Photo Shoot With Their...

In [5]:
# add column for class label: not clickbait -> 0
df_1['clickbait'] = pd.Series(np.ones(df_1.shape[0], dtype=int))

# first 5 datapoints with label
df_1.head()

                                            headline  clickbait
0                                 Should I Get Bings          1
1      Which TV Female Friend Group Do You Belong In          1
2  The New "Star Wars: The Force Awakens" Trailer...          1
3  This Vine Of New York On "Celebrity Big Brothe...          1
4  A Couple Did A Stunning Photo Shoot With Their...          1

In [6]:
# concat both positve and negative dataframes
# shuffle dataframe randomly
df = pd.concat([df_0, df_1]).sample(frac=1, random_state=42).reset_index(drop=True)

# shape: (rows, columns)
print(df.shape)

# first 5 datapoints
df.head()

(28210, 2)

                                            headline  clickbait
0  14 People Who You Totally Have Saved In Your P...          1
1       Episcopal Vote Reopens a Door to Gay Bishops          0
2  Main UN compound in Gaza shelled with 'white p...          0
3          Are You More Like Julianne Or Derek Hough          1
4            50 dead after ferry in Myanmar capsizes          0

In [7]:
# save the entire dataset
df.to_csv('../data/data.csv')